@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Dongle&display=swap");

* {
  color: #444444;
  margin: 0px;
  line-height: 1.5;
  font-family: "Dongle", sans-serif;
  font-size: 18pt;
}

h2 {
  font-size: 40pt;
}
ul {
  list-style: none;
}
li {
  float: left;
  margin-right: 5px;
}

/*정렬*/

.align-center {
  text-align: center;
}

.align-left {
  text-align: center;
}

.align-right {
  text-align: right;
}

/*패딩*/
.px-1 {
  padding-left: 3px;
  padding-right: 3px;
}

.px-2 {
  padding-left: 5px;
  padding-right: 5px;
}

.px-3 {
  padding-left: 8px;
  padding-right: 8px;
}

.px-4 {
  padding-left: 12px;
  padding-right: 12px;
}

.w {
  margin: 5%;
  padding: 10px;
}
.wrap {
  margin: auto;
  max-width: 1340px;
  min-height: 100vh;
}

button {
  padding-left: 30px;
  padding-right: 30px;
}

table,
tr,
td {
	border: 1px solid #444444;
	border-collapse: separate;
	border-radius: 8px;
}

textarea,
input {
	border: 0;
	resize: none;
	outline: none;

}

.textcenter {
	text-align: center;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	-webkit-appearance: inner-spin-button;
    opacity: 1;
}
